<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.portfolio-performance</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>0B8E1E56-5E9C-4E84-85C7-0F20E691CDA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E134D3E9-9391-4703-8A58-28C22635069F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>168224EC-0D84-4714-AC80-49786BBC3D08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58B19E4C-178F-4DB2-9B93-40D8282D3CEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18317D1C-8461-4378-BEB3-B76CC5DFECBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8D43BC5-BE16-495E-B193-81D0E2B04BDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38D89DF4-F068-4134-A21A-34EAADA5246E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC8D25C0-57F5-4305-B668-16C344FA2211</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A63509E-E1BC-4E1B-87EE-3F6D0152685A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18317D1C-8461-4378-BEB3-B76CC5DFECBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4475FDC5-1AA5-4794-A478-36A8DD3D6D43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5764C2E0-6B01-4410-A431-1B17CD6C0A71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48C01841-219C-4405-961D-A33BF7FC98BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38D89DF4-F068-4134-A21A-34EAADA5246E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5762E395-7975-4176-BBA4-7273D1066F25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>168224EC-0D84-4714-AC80-49786BBC3D08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5764C2E0-6B01-4410-A431-1B17CD6C0A71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB2CFA84-74F7-4C3E-B9C0-1F0D2DF0DDFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58B19E4C-178F-4DB2-9B93-40D8282D3CEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A63509E-E1BC-4E1B-87EE-3F6D0152685A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>811D21FB-47D1-4DBA-8E32-981AE6B69B7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC8D25C0-57F5-4305-B668-16C344FA2211</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB2CFA84-74F7-4C3E-B9C0-1F0D2DF0DDFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC8D25C0-57F5-4305-B668-16C344FA2211</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6351950-8536-46AD-A832-D23A7B8DC2C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC8D25C0-57F5-4305-B668-16C344FA2211</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8D43BC5-BE16-495E-B193-81D0E2B04BDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B8E1E56-5E9C-4E84-85C7-0F20E691CDA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C08CBDAC-8DFC-4E6E-BF1D-ED4E6B14BDEA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Copy Symbol</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FEBE6935-198A-4272-A17F-CC24C44391D8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy WKN</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4475FDC5-1AA5-4794-A478-36A8DD3D6D43</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Fn: Copy Name</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C08CBDAC-8DFC-4E6E-BF1D-ED4E6B14BDEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBD365BF-74F4-4326-91CB-5BBD9722F21B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBD365BF-74F4-4326-91CB-5BBD9722F21B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6351950-8536-46AD-A832-D23A7B8DC2C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E134D3E9-9391-4703-8A58-28C22635069F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>811D21FB-47D1-4DBA-8E32-981AE6B69B7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEBE6935-198A-4272-A17F-CC24C44391D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48C01841-219C-4405-961D-A33BF7FC98BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Searches your watchlists in the Portfolio Performance App for securities. Select one to copy its Name, Symbol, ISIN or WKN to the clipboard.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Portfolio Performance</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{var:id1}'</string>
				<key>title</key>
				<string>ISIN copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>811D21FB-47D1-4DBA-8E32-981AE6B69B7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:id1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E134D3E9-9391-4703-8A58-28C22635069F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>id</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>0B8E1E56-5E9C-4E84-85C7-0F20E691CDA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{var:id2}'</string>
				<key>title</key>
				<string>Symbol copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B6351950-8536-46AD-A832-D23A7B8DC2C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:id2}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CBD365BF-74F4-4326-91CB-5BBD9722F21B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>id</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C08CBDAC-8DFC-4E6E-BF1D-ED4E6B14BDEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/chrisgrieser/portfolio-performance-alfred/main/info.plist'
readonly workflow_url='chrisgrieser/portfolio-performance-alfred'
readonly download_type='github_release'
readonly frequency_check='1'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC8D25C0-57F5-4305-B668-16C344FA2211</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

echo -n `pcregrep -M -e "&lt;name&gt;(?:.|\n)*?&lt;prices&gt;" $portfolio_file`</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58B19E4C-178F-4DB2-9B93-40D8282D3CEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pp</string>
				<key>subtext</key>
				<string>by Name or Symbol</string>
				<key>text</key>
				<string>Search Portfolio Positions for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5762E395-7975-4176-BBA4-7273D1066F25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>input = "{query}";

input = input.replaceAll ("&amp;amp;","&amp;"); //URL Decode
var asset = input.split("&lt;prices&gt;");
let asset_array = [];

asset.forEach(element =&gt; {
  temp = element.replace (/&lt;(\w+)&gt;(.*?)&lt;\/\w+&gt; /g,"$1,$2;");
  
  property = temp.split (";");
  let asset_name = property[0].replace (/ ?name,/,"");
  let asset_currency = "";
  let asset_isin = "";
  let asset_symbol = "";
  let asset_wkn = "";
  property.forEach(prop =&gt; {
  	if (prop.includes ("isin")){
  		asset_isin = prop.replace (/isin,/,"");
  	};
  	if (prop.includes ("tickerSymbol")){
  		asset_symbol = prop.replace (/tickerSymbol,([^\.]*)\.?.*/,"$1");
  	};
  	if (prop.includes ("wkn")){
  		asset_wkn = prop.replace (/wkn,/,"");
  	};
  	if (prop.includes ("currencyCode")){
  		asset_currency = prop.replace (/currencyCode,/,"");
  	};
  });

  asset_array.push ({ // Add to empty array
    'title': asset_name + " - " + asset_symbol,
    'subtitle': "ISIN: " + asset_isin + ", WKN: " + asset_wkn,
    'arg': asset_isin + "," + asset_symbol + "," + asset_wkn + "," + asset_name,
  })
});

JSON.stringify({ 'items': asset_array }) // Transform it into JSON Alfred understands</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3A63509E-E1BC-4E1B-87EE-3F6D0152685A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>echo -n $assets</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Scanning Portfolio File for Assets...</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B8D43BC5-BE16-495E-B193-81D0E2B04BDC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:searchstring}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>assets</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>18317D1C-8461-4378-BEB3-B76CC5DFECBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>searchstring</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>168224EC-0D84-4714-AC80-49786BBC3D08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{var:id3}'</string>
				<key>title</key>
				<string>WKN copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>38D89DF4-F068-4134-A21A-34EAADA5246E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:id3}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>48C01841-219C-4405-961D-A33BF7FC98BE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>id</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>FEBE6935-198A-4272-A17F-CC24C44391D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:id4}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5764C2E0-6B01-4410-A431-1B17CD6C0A71</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{var:id4}'</string>
				<key>title</key>
				<string>Name copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AB2CFA84-74F7-4C3E-B9C0-1F0D2DF0DDFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>id</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>4475FDC5-1AA5-4794-A478-36A8DD3D6D43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Portfolio Performance - Alfred Workflow

Searches your watchlists in the Portfolio Performance App via Alfred. Select one to copy its Name, Symbol, ISIN, or WKN to the clipboard.

&lt;img src="https://github.com/chrisgrieser/portfolio-performance-alfred/blob/main/Demo%20PPP.gif?raw=true" alt="" width=50% height=50%&gt;

## How to use

- Use the keyword `pp` in Alfred to search your your watchlists for a security. You can search for the Name or the ticker symbol.
- Select with ↵ to copy the ISIN to your clipboard.
- Select with ⌘ + ↵ to copy the Symbol to your clipboard.
- Select with ⌥ + ↵ to copy the WKN to your clipboard.
- Select with `fn` + ↵ to copy the Name to your clipboard.

## Installation

- You need the [Alfred Powerpack](https://www.alfredapp.com/powerpack/) as well as [Portfolio Performance](https://www.portfolio-performance.info/).
- [Download the latest release of this workflow](https://github.com/chrisgrieser/portfolio-performance-alfred/releases/latest)
- Doubleclick the .alfredworkflow file to install it.
- Enter the path to your portfolio xml-file from *Portfolio Performance* next to `portfolio_file` (do not use `~`).

&lt;img src="https://github.com/chrisgrieser/portfolio-performance-alfred/blob/main/setup%201.png?raw=true" alt="Click here" width=50% height=50%&gt;

&lt;img src="https://github.com/chrisgrieser/portfolio-performance-alfred/blob/main/setup%202.png?raw=true" alt="enter path to your portfolio file here" width=50% height=50%&gt;

---

This workflow has been created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0B8E1E56-5E9C-4E84-85C7-0F20E691CDA3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>168224EC-0D84-4714-AC80-49786BBC3D08</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>18317D1C-8461-4378-BEB3-B76CC5DFECBA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>38D89DF4-F068-4134-A21A-34EAADA5246E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>3A63509E-E1BC-4E1B-87EE-3F6D0152685A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>jsonfy</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>4475FDC5-1AA5-4794-A478-36A8DD3D6D43</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>48C01841-219C-4405-961D-A33BF7FC98BE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>copy WKN</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>5762E395-7975-4176-BBA4-7273D1066F25</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>5764C2E0-6B01-4410-A431-1B17CD6C0A71</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>copy Name</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>58B19E4C-178F-4DB2-9B93-40D8282D3CEC</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>grabs Info on all watched assets</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>811D21FB-47D1-4DBA-8E32-981AE6B69B7B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>AB2CFA84-74F7-4C3E-B9C0-1F0D2DF0DDFA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>B6351950-8536-46AD-A832-D23A7B8DC2C1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>B8D43BC5-BE16-495E-B193-81D0E2B04BDC</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>C08CBDAC-8DFC-4E6E-BF1D-ED4E6B14BDEA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>CBD365BF-74F4-4326-91CB-5BBD9722F21B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>copy Symbol</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>E134D3E9-9391-4703-8A58-28C22635069F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>copy ISIN</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>FC8D25C0-57F5-4305-B668-16C344FA2211</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>OneUpdater (automatic update function)</string>
			<key>xpos</key>
			<integer>1355</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>FEBE6935-198A-4272-A17F-CC24C44391D8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>portfolio_file</key>
		<string>/Users/chrisgrieser/Google Drive/Dokumente/Portfolio/Mein Portfolio.xml</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>portfolio_file</string>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
